{{#each this}}
<div class='col-xs-4 row-centered movie'>
  <div class='thumbnail'>
    <div class='caption'>
      <h3>{{name}}</h3>
      <p>{{gender}}</p>
      <p>{{age}}</p>
      <p>{{skills}}</p>
    </div>
    <button type="button" class="btn btn-default delete" id="delete">Delete This Relative</button>
  </div>
</div>
{{/each}}